# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/
ENV/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/
tests/tmp/
tests/__pycache__/

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# MyPy / Pyre / Pylint / Pytype / Bandit
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.bandit/

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Logs
*.log

# Snakemake or other pipeline-generated temp files
*.snakemake/
*.smk.log

# MATSHA files
tmp/
snpEff*
tests/toy_data/output/logfile